<div class="page-holder align-items-center py-4 bg-gray-100 vh-50"  *ngIf="loginUser" >
  <style>
  </style>
  <div class="container"  >
    <div class="row align-items-center" style="margin: 10px;">
      
      <div class="col col-lg-4"></div>

          <div class="card-body  p-lg-1 col-lg-4"  >
            <div class="card">
            <h3 class="mb-4" style="text-align:center ;">MTS Login</h3>
              <div class="form-floating mb-1" style="margin-bottom:10px ;" >
                <input class="form-control" id="floatingInput" type="text"   [(ngModel)]="this.name"    placeholder="user name" required>
                <label for="floatingInput" style="display:none ;">User Name</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" id="floatingPassword"  [(ngModel)]="this.password" type="password"  placeholder="password" required>
<label for="floatingPassword">Password</label>              
</div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" name="remember" id="remember">
                <label class="form-check-label" for="remember">Remember me</label>

              </div>
              <button class="btn btn-primary"  (click)="Next();" type="submit">Submit</button>

          </div>
         

    <div class="col col-lg-2"></div>

  </div>
</div>
</div>

</div>
<!--                 <button class="btn btn-success"   (click)="Next();"> Login1 </button> -->
<router-outlet></router-outlet>