<header >
  <br>

  <div class ="container">

  <div  class = "card" style="background-color: steelblue;">
    <h2 class="" style="padding-left: 10px;" > RMS</h2>
    <h4 class="" style="padding-left: 10px;" > National Clearing Company of Pakistan ltd.</h4>
  </div>
  </div>
</header>
<br>
<div id="pdfTable" #pdfTable class ="container">
  <div class = "card">
      <h3 class="text-center">  Sample report</h3>
      <div class = "card-body">
          <table   class="table table-striped">
              <thead>
                  <th>Id</th>
                  <th> Name</th>
                  <th> Role Name</th>
              </thead>
              <tbody>
                  <tr *ngFor = "let user of users">
                      <td> {{ user.id}}</td>
                      <td> {{ user.name}}</td>
                      <td> {{ user.role}}</td>

                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  <hr>

</div>
<div class="container">
  <div class="row">
    <div class="col-10">

    </div>
    <div >
      <button class="btn btn-primary"  (click)="downloadAsPDF();">Export To PDF</button>
    </div>
  </div>

</div>